ENV=local

# Database (Docker Postgres exposed on host port 5434)
DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@127.0.0.1:5434/DB_NAME

# Redis (LOCAL dev)
REDIS_URL=redis://localhost:6379/0

# Redis (DOCKER dev) - use this if backend runs in docker
# REDIS_URL=redis://redis:6379/0